.App {
  min-height: 100vh;
  margin: 0;
  padding: 0;
  background-image: linear-gradient(to top, #fdcbf1 0%, #fdcbf1 1%, #e6dee9 100%);
}

.search-form {
  min-height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-bar {
  width: 50%;
  border: none;
  padding: 10px;
}

.search-button {
  background: cornflowerblue;
  border: none;
  padding: 10px 20px;
  color: white;
  cursor: pointer;
}

.recipes {
  min-height: 60vh;
  width: 50%;
  margin: auto;
  display: block;
}

a {
  text-decoration: none;
  color: teal;
}

a:hover {
  text-decoration: underline;
}
