.recipe {
    box-shadow: 0px 5px 20px rgb(71, 71, 71);
    margin: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background: white;
    align-items: center;
    min-width: 40%;
}

ul {
    list-style-type: none;
    align-items: flex-start;
    margin: auto 30px;
}

.type {
    text-transform: capitalize;
}

.image {
    padding: 30px;
}